label {
  width: 82px;
  display: inline-block;
  text-align: right;
}
.videos video {
  width: 240px;
  height: 180px;
}

.audio-section {
  width: 240px;
  height: 180px;
}
div {
  text-align: center;
  margin: 10px;
}

.register-test {
  text-align: left;
  margin-left: 10px;
}

main {
  width: 400px;
  margin: 10px auto;
  text-align: center;
}

.register-type label {
  font-size: 14px;
  text-align: start;
}
